.Active {
  width: calc(100% - 450px);
  height: 40px;
  float: right;
  background-color: var(--panelColor);
}

.Active > div {
  height: 100%;
  margin-right: 30px;
}

.Active > div > nav {
  width: calc(100% - 72px);
  height: 100%;
  float: left;
}

.Active > div > nav > div:not(.essential):not(.vl) {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Active > div > nav > div:not(.essential):not(.vl)::-webkit-scrollbar {
  display: none;
}

.Active > div > nav > div > div {
  height: 100%;
  float: left;
  padding-right: 12px;
  min-width: 120px;
  max-width: 270px;
  cursor: pointer;
}

.Active > div > nav > div > div > .close-btn > svg {
  opacity: 0;
  transition: ease-out opacity 100ms;
}

.Active > div > nav > div > div > .close-btn > svg {
  opacity: 1;
}

.essential {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  float: left;
  border-radius: 5px;
  transition: ease-out background-color 100ms;
  cursor: pointer;
}

.essential:not(.essential:first-child) {
  margin-left: 2px;
}

.essential:hover {
  background-color: var(--panelPathColor);
}

.Active > div > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}

.Active > div > div > div {
  width: 25px;
  height: 25px;
  float: left;
  cursor: pointer;
}

.Active > div > div > div:first-child {
  margin-right: 7px;
}

.Active > div > div > div > svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
