.Tool {
  height: 100%;
  float: left;
}

.Tool > .shortcut {
  width: 70px;
  height: 100%;
  float: left;
}

.Tool > .panel {
  width: 380px;
  height: 100%;
  float: right;
}

.Tool > .shortcut > ul {
  position: relative;
  width: 50px;
  left: 50%;
  transform: translateX(-75%);
}

.Tool > .shortcut > ul > li:not(.Tool > .shortcut > ul > li:last-child) {
  margin-bottom: 5px;
}

.Tool > .shortcut > ul > li > button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-out background-color 100ms;
}

.Tool > .shortcut > ul > li > button > svg {
  padding-top: 3px;
}

.Tool > .shortcut > ul > .hl {
  position: relative;
  width: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 7px;
  margin-bottom: 7px;
}
