.Tool {
  height: 100%;
  float: left;
}

.Tool > .shortcut {
  width: 80px;
  height: 100%;
  float: left;
}

.Tool > .panel {
  width: 320px;
  height: 100%;
  float: right;
}

.Tool > .shortcut > ul {
  position: relative;
  width: 50px;
  top: 15px;
  left: 50%;
  transform: translateX(-75%);
}

.Tool > .shortcut > ul > li:not(.Tool > .shortcut > ul > li:last-child) {
  margin-bottom: 8px;
}

.Tool > .shortcut > ul > li > button {
  width: 55px;
  height: 55px;
  background-color: #ffffff00;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.Tool > .shortcut > ul > li > button:hover {
  background-color: #dde5eb;
}

.Tool > .shortcut > ul > li > button > svg {
  padding-top: 3px;
}

.Tool.white > .shortcut {
  background-color: #e6ecf0;
}

.Tool.white > .panel {
  background-color: #ebeff2;
}

.Tool.Tool.white > .shortcut > ul > li > button > svg {
  fill: #92a5b2;
}
