.Header {
  width: 100%;
  height: 64px;
  background-color: var(--headerColor);
  position: fixed;
  z-index: 1;
}

.Header > div {
  position: relative;
  width: 80vw;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.Header > div > a > img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.Header > div > .start {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e6ecf0;
  float: right;
  width: 7rem;
  max-width: 250px;
  height: 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.Header > div > .start > p {
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: #474a4d;
  font-size: 0.95rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Header > div > .translate {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e6ecf0;
  float: right;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  margin-right: 0.75rem;
  cursor: pointer;
}

.Header > div > .translate > svg {
  position: relative;
  width: 1.3rem;
  height: 1.3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
