@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* Global CSS */

body {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-drag: none;
}

*:focus {
  outline: 0;
}

#root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
}

li {
  list-style: none;
}

/* Only div tag can get this class '.hl', '.vl' */
.hl {
  height: 1px;
  border-radius: 1rem;
}

.vl {
  height: 1px;
  border-radius: 1rem;
}

.react-tiny-popover-container {
  z-index: 999;
}

.popover {
  border-radius: 7px;
  box-shadow: 0 5px 30px #00000020;
  padding: 12px 15px;
}

.popover > p {
  margin: 0;
  font-weight: 600;
  font-size: 1.1rem;
}

.popover > .hl {
  min-width: 200px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.popover > div:not(.hl) {
  position: relative;
  width: calc(100% + 30px);
  height: 35px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  filter: none;
}

.popover > div:not(.hl):hover {
  filter: brightness(95%);
}

.popover > div:not(.hl) > p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 15px;
  font-weight: 500;
}

.popover > div:not(.hl) > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
}

.popover > div:not(.hl) > div > svg {
  margin-top: 0.5px;
  float: left;
}

.popover > div:not(.hl) > div > p {
  margin: 0 0 0 25px;
  font-size: 1.05rem;
}

.ReactModal__Overlay {
  z-index: 1000;
  background-color: rgba(26, 27, 28, 0.65) !important;
}

.ReactModal__Content {
  border: none !important;
  border-radius: 11px !important;
  box-shadow: 0 5px 30px #00000020;
}
