@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* Global CSS */

body {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-drag: none;
}

pre {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
}

/* [data-theme='light'] */
body {
  --baseColor: #fff;
  --headerColor: #f7f9fa;
  --lineColor: #d8e0e5;
  --shortcutColor: #e6ecf0;
  --shortcutIconColor: #92a5b2;
  --shortcutHoverColor: #dde5eb;
  --panelColor: #ebeff2;
  --panelPathColor: #e1e7eb;
  --popContentHeaderColor: #f5f8fa;
  --popContentHoverColor: #f5f6f7;
  --editorColor: #f0f3f5;
  --textBlackColor: #1a1b1c;
  --textSubBlackColor: #474a4d;
  --fieldTextColor: #626b73;
  --textGrayColor: #8a9399;
  --red: #e44857;
}

*:focus {
  outline: 0;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--panelPathColor);
  border-radius: 1rem;
}

#root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

/* Only div tag can get this class '.hl', '.vl' */
.hl {
  height: 1px;
  border-radius: 1rem;
  background-color: var(--lineColor);
}

.vl {
  height: 1px;
  border-radius: 1rem;
  background-color: var(--lineColor);
}

input {
  border: 1px solid var(--lineColor);
  border-radius: 5px;
  height: 40px;
  box-sizing: border-box;
  padding: 0 0.7rem;
}

.button {
  min-width: 70px;
  height: 40px;
  padding: 0 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: ease-out background-color 100ms;
  font-size: 0.9rem;
  cursor: pointer;
}

.button.primary {
  color: #fff;
  background-color: #7f52ff;
}

.button.primary:hover {
  background-color: #7048e0;
}

.button.primary:active {
  background-color: #6642cc;
}

.react-tiny-popover-container {
  z-index: 999;
}

.popover {
  border-radius: 10px;
  box-shadow: 0 5px 20px #00000015;
  padding: 5px 15px;
  background-color: var(--baseColor);
  width: 190px;
  overflow: hidden;
}

.popover > div {
  position: relative;
  width: calc(100% + 20px);
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  filter: none;
  background-color: var(--baseColor);
  border-radius: 6px;
  transition: ease-out background-color 100ms;
  font-size: 0.95rem;
}

.popover > div:not(.popover > div:last-child) {
  margin-bottom: 3px;
}

.popover > div:hover {
  background-color: var(--popContentHoverColor);
}

.popover > div > p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 15px;
  font-weight: 500;
  font-size: 0.9rem;
}

.popover > div > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 15px;
}

.popover > div > div > svg {
  margin-top: 0.5px;
  float: left;
}

.popover > div > div > p {
  display: block;
  margin: 0 0 0 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
}

.ReactModal__Overlay {
  z-index: 1000;
  background-color: rgba(26, 27, 28, 0.65) !important;
  opacity: 0;
  transition: ease-out opacity 150ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  border: none !important;
  border-radius: 11px !important;
  padding: 0 !important;
  opacity: 0;
  transform: translateX(-50%) scale(0.7);
  position: relative !important;
  top: 5vh !important;
  left: 50% !important;
  transition: ease-out opacity 150ms, ease-out transform 150ms;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateX(-50%) scale(0.7);
}

.ReactModal__Content > .header {
  width: calc(100% - 30px);
  height: 20px;
  padding: 15px 15px;
  background-color: var(--popContentHeaderColor);
}

.ReactModal__Content > .header > p {
  margin: -2px 0 0 0;
  font-weight: 700;
  font-size: 1.2rem;
  max-width: calc(100% - 50px);
  color: var(--textSubBlackColor);
}

.ReactModal__Content > .header > div {
  position: relative;
  top: -24px;
  float: right;
  cursor: pointer;
}

.ReactModal__Content > .body {
  width: calc(100% - 60px);
  height: calc(100% - 50px);
  padding: 0 30px;
  background-color: var(--baseColor);
}

.go2072408551 {
  height: 40px !important;
  border-radius: 15px !important;
  padding: 7px 15px !important;
  background: var(--headerColor) !important;
  box-shadow: 0 5px 20px #00000015 !important;
}
