@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* Global CSS */

body {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-drag: none;

  background-color: var(--headerColor);
}

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: -0.025rem;
}

/* [data-theme='light'] */
body {
  --baseColor: #fff;
  --headerColor: #f7f9fa;
  --lineColor: #d8e0e5;
  --shortcutColor: #e6ecf0;
  --shortcutIconColor: #92a5b2;
  --shortcutHoverColor: #dde5eb;
  --panelColor: #ebeff2;
  --panelPathColor: #e1e7eb;
  --popContentHeaderColor: #f5f8fa;
  --popContentHoverColor: #f5f6f7;
  --popContentlineColor: #ebeff2;
  --editorColor: #f0f3f5;
  --textBlackColor: #1a1b1c;
  --textSubBlackColor: #474a4d;
  --fieldTextColor: #626b73;
  --textGrayColor: #8a9399;
  --red: #e44857;
  --scroll: #b8c3cc;
  --iconGrayColor: #c9ced1;
}

*:focus {
  outline: 0;
}

.urbanist {
  font-family: 'Urbanist', Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}

img {
  image-rendering: -webkit-optimize-contrast;
  backface-visibility: hidden;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: underline;
  color: #25a0ff;
}

/* Only div tag can get this class '.hl', '.vl' */
.hl {
  height: 1px;
  border-radius: 1rem;
  background-color: var(--lineColor);
}

.vl {
  width: 1px;
  border-radius: 1rem;
  background-color: var(--lineColor);
}

input:not(.ieum-inputComponent > * > input) {
  border: 1px solid var(--lineColor);
  border-radius: 5px;
  height: 40px;
  box-sizing: border-box;
  padding: 0 0.7rem;
}

.ieum-inputComponent > * > input {
  border: 1px solid var(--lineColor);
  border-radius: 3px;
  position: relative;
  top: -0.5px;
  padding: 0 0.1rem;
  font-size: 0.75rem;
}

.ieum-paramName {
  max-width: 100px !important;
}

textarea {
  border: 1px solid var(--lineColor);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.7rem 0.7rem;
  resize: none;
}

.button {
  min-width: 70px;
  height: 40px;
  padding: 0 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: ease-out background-color 100ms;
  font-size: 0.9rem;
  cursor: pointer;
}

.button.primary {
  color: #fff;
  background-color: #7f52ff;
}

.button.primary:hover {
  background-color: #7048e0;
}

.button.primary:active {
  background-color: #6642cc;
}

.button.danger {
  color: #fff;
  background-color: var(--red);
}

.react-tiny-popover-container {
  z-index: 999;
}

.popover-parent {
  background-color: var(--baseColor);
  border-radius: 10px;
  box-shadow: 0 5px 20px #00000015;
  padding: 5px 5px;
}

.popover {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.popover::-webkit-scrollbar {
  display: none;
}

.popover > div:not(.popover > .hl) {
  position: relative;
  width: calc(100%);
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  filter: none;
  background-color: var(--baseColor);
  border-radius: 6px;
  transition: ease-out background-color 100ms;
  font-size: 0.95rem;
}

.popover > div:not(.popover > div:last-child) {
  margin-bottom: 3px;
}

.popover > div:not(.popover > .hl):hover {
  background-color: var(--popContentHoverColor);
}

.popover > div:not(.popover > .hl) > p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 15px;
  font-weight: 500;
  font-size: 0.9rem;
}

.popover > div:not(.popover > .hl) > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 15px;
}

.popover > div:not(.popover > .hl) > div > svg {
  margin-top: 0.5px;
  float: left;
}

.popover > div:not(.popover > .hl) > div > p {
  display: block;
  margin: 0 0 0 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
}

.ReactModal__Overlay {
  z-index: 10001;
  background-color: rgba(26, 27, 28, 0.65) !important;
  opacity: 0;
  transition: ease-out opacity 150ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  border: none !important;
  border-radius: 11px !important;
  padding: 0 !important;
  opacity: 0;
  transform: translateX(-50%) scale(0.7);
  position: relative !important;
  top: 5vh !important;
  left: 50% !important;
  transition: ease-out opacity 150ms, ease-out transform 150ms;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateX(-50%) scale(0.7);
}

.ReactModal__Content > .header {
  width: calc(100% - 30px);
  height: 20px;
  padding: 15px 15px;
  background-color: var(--popContentHeaderColor);
}

.ReactModal__Content > .header > p {
  margin: -2px 0 0 0;
  font-weight: 700;
  font-size: 1.2rem;
  max-width: calc(100% - 50px);
  color: var(--textSubBlackColor);
}

.ReactModal__Content > .header > div {
  position: relative;
  top: -24px;
  float: right;
  cursor: pointer;
}

.ReactModal__Content > .body {
  width: calc(100% - 60px);
  height: calc(100% - 50px);
  padding: 0 30px;
  background-color: var(--baseColor);
}

.go2072408551 {
  height: 40px !important;
  border-radius: 15px !important;
  padding: 7px 15px !important;
  background: var(--headerColor) !important;
  box-shadow: 0 5px 20px #00000015 !important;
}

.loading span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: loading 750ms 0s linear infinite;
}

.loading span:nth-child(1) {
  background-color: #ff5061;
  margin-right: 10px;
  transform: scale(0.9);
}

.loading span:nth-child(2) {
  animation-delay: 0.25s;
  background-color: #e21aff;
  transform: scale(0.9);
}

.loading span:nth-child(3) {
  animation-delay: 0.5s;
  background-color: #7f52ff;
  margin-left: 10px;
  transform: scale(0.9);
}

.project-stack {
  width: '100%';
  height: 75px;
  margin-top: 5px;
  border-radius: 15px;
  background-color: #e1e7eb00;
  transition: ease-out background-color 150ms;
}

.project-stack > div > .name {
  cursor: pointer;
  text-decoration: none;
}

.project-stack > div > .name:hover {
  text-decoration: underline;
}

.project-stack > svg {
  visibility: hidden;
  opacity: 0;
  transition: ease-out visibility 0s, ease-out opacity 150ms;
}

.project-stack:hover {
  background-color: #e1e7eb;
}

.project-stack:hover > svg {
  visibility: visible;
  opacity: 1;
}

@keyframes loading {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
}

.ieum-menuItem {
  padding: 0 0 0 15px !important;
  height: 40px !important;
}

.ieum-categorySelectorTitle {
  color: #92a5b2 !important;
  font-weight: 800 !important;
  font-size: 0.7rem !important;
  margin: 7px 0px 3px 15px !important;
  padding-left: 0 !important;
  text-transform: uppercase !important;
}

.ieum-nodeHead {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
